@{ Layout = null; }

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SelectMode</title>
    <script src="~/Scripts/jquery-3.0.0.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/SelectLanguage.css" rel="stylesheet" />
    <link href="~/Content/Application.css" rel="stylesheet" />
</head>
<body>
    <div class="mainHeader">
        Kwizzotronic
        <button class="backButton" onclick="history.go(-1); return false;">Natrag</button>
    </div>
    <div class="mainContainer">
        <div class="subContainer">
            <div class="emptyDiv"></div>
            <div class="emptyDiv"></div>
            <div class="bigButtonContainer">
                @Html.ActionLink(
                       @Resources.Web_sitemap.play,
                       controllerName: "UserGame",
                       actionName: "Index"
                     )
            </div>
        </div>
        <div class="subContainer">
            <div class="emptyDiv"></div>

            <div class="bigButtonContainer">
                @Html.ActionLink(
                       @Resources.Web_sitemap.createQuiz,
                       controllerName: "Start",
                       actionName: "GoToAuth"
                     )
            </div>
        </div>
    </div>
</body>
</html>