body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.mainContentAuth {
    width: 350px;
    margin: auto;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border: 3px solid black;
}

.mainContentHeader {
    padding: 20px;
    color: white;
    background-color: black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
}

.indexContainer {
    width: 350px;
    margin: auto;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: darkgray;
    color: white;
    height: 300px;
    justify-content: center;
}

.inputs {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0 0 0;
    flex-direction: column;
}

.inputsNoMargin {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.createButton {
    margin: 30px 0;
    background-color: black;
    color: white;
    height: 40px;
    outline: none;
    border: none;
    border-radius: 10px;
    width: 250px;
}



.greyInput {
    background-color: lightgray;
    padding: 10px;
    margin: 5px 0;
}

.lightgrayButton {
    background-color: lightgray;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    width: 90%;
    color: black;
    text-decoration: none;
}

.lightgrayButton:hover {
    background-color: lightgray;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    width: 90%;
    color: black;
    text-decoration: none;
}

.labelDiv {
    width: 100%;
    padding: 0 20px;
}

.errorView {
    color: red;
    margin: 10px auto;
}
