
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Start</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <link href="~/Content/Application.css" rel="stylesheet" />
    <link href="~/Content/MyQuizzes.css" rel="stylesheet" />
    <link href="~/Content/QuizDetails.css" rel="stylesheet" />
    <link href="~/Content/PlayQuiz.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <div class="mainHeader">
        Kwizzotronic
        @Html.ActionLink(Resources.Web_sitemap.abort, "Abort", new { @class = "backButton" })
    </div>
    <div class="main-container">

        <div>Wait for quiz to start</div>

        @using (Html.BeginForm(new { currentQuestion = @ViewBag.Question }))

        {
            <input type="submit" name="refresh" value="Refresh" class="backButton" style="font-weight: bold; top: 0px;"
                   formaction="Refresh" formmethod="get" />
        }

    </div>
</body>
</html>
